In [164]:
import pandas as pd 
import matplotlib.pyplot as plt

In [165]:

df = pd.read_csv(r'C:\Users\nicol\OneDrive\Documentos\GitHub\grammy_winners\data\spotify-2023.csv', encoding='latin1')
df = df[df['released_year'] == 2023]

In [166]:
df = df.loc[:, :"streams"]
df.head()

,track_name,artist(s)_name,artist_count,released_year,released_month,released_day,in_spotify_playlists,in_spotify_charts,streams
0,Seven (feat. Latto) (Explicit Ver.),"Latto, Jung Kook",2,2023,7,14,553,147,141381703
1,LALA,Myke Towers,1,2023,3,23,1474,48,133716286
2,vampire,Olivia Rodrigo,1,2023,6,30,1397,113,140003974
4,WHERE SHE GOES,Bad Bunny,1,2023,5,18,3133,50,303236322
5,Sprinter,"Dave, Central Cee",2,2023,6,1,2186,91,183706234

In [167]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 175 entries, 0 to 404
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   track_name            175 non-null    object
 1   artist(s)_name        175 non-null    object
 2   artist_count          175 non-null    int64
 3   released_year         175 non-null    int64
 4   released_month        175 non-null    int64
 5   released_day          175 non-null    int64
 6   in_spotify_playlists  175 non-null    int64
 7   in_spotify_charts     175 non-null    int64
 8   streams               175 non-null    object
dtypes: int64(6), object(3)
memory usage: 13.7+ KB

In [168]:
df[~df["streams"].str.replace(",", "").str.isnumeric()]

Empty DataFrame
Columns: [track_name, artist(s)_name, artist_count, released_year, released_month, released_day, in_spotify_playlists, in_spotify_charts, streams]
Index: []

In [169]:
df = df[df["streams"].str.replace(",", "").str.isnumeric()]
df["streams"] = df["streams"].str.replace(",", "").astype(int)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 175 entries, 0 to 404
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   track_name            175 non-null    object
 1   artist(s)_name        175 non-null    object
 2   artist_count          175 non-null    int64
 3   released_year         175 non-null    int64
 4   released_month        175 non-null    int64
 5   released_day          175 non-null    int64
 6   in_spotify_playlists  175 non-null    int64
 7   in_spotify_charts     175 non-null    int64
 8   streams               175 non-null    int64
dtypes: int64(7), object(2)
memory usage: 13.7+ KB

In [170]:
df.insert(0, "id", range(1, len(df) + 1))

In [171]:
df.head()

,id,track_name,artist(s)_name,artist_count,released_year,released_month,released_day,in_spotify_playlists,in_spotify_charts,streams
0,1,Seven (feat. Latto) (Explicit Ver.),"Latto, Jung Kook",2,2023,7,14,553,147,141381703
1,2,LALA,Myke Towers,1,2023,3,23,1474,48,133716286
2,3,vampire,Olivia Rodrigo,1,2023,6,30,1397,113,140003974
4,4,WHERE SHE GOES,Bad Bunny,1,2023,5,18,3133,50,303236322
5,5,Sprinter,"Dave, Central Cee",2,2023,6,1,2186,91,183706234

In [172]:
artist_name	= df[['id','artist(s)_name','streams']]
artist_name.head()

   id     artist(s)_name    streams
0   1   Latto, Jung Kook  141381703
1   2        Myke Towers  133716286
2   3     Olivia Rodrigo  140003974
4   4          Bad Bunny  303236322
5   5  Dave, Central Cee  183706234

In [173]:
artist_name = artist_name.copy()  # Asegura que es una copia independiente
artist_name.loc[:, "artist(s)_name"] = artist_name["artist(s)_name"].str.split(", ")
artist_name = artist_name.explode("artist(s)_name")
artist_name

      id       artist(s)_name    streams
0      1                Latto  141381703
0      1            Jung Kook  141381703
1      2          Myke Towers  133716286
2      3       Olivia Rodrigo  140003974
4      4            Bad Bunny  303236322
..   ...                  ...        ...
385  173                Jimin  152850295
398  174           Steve Aoki  120972253
398  174                 Tini  120972253
398  174            La Joaqui  120972253
404  175  TOMORROW X TOGETHER  107642809

[310 rows x 3 columns]

In [174]:
df.shape
df = df.drop(columns=['released_year','artist(s)_name'])